.sub-menu-social a.ssmla{
	margin-left: -2px;
	border-radius: 10px 10px 0px 0px;
	line-height: 37px;
}
.sub-menu-social a.ssmla:hover, .sub-menu-social a.ssmla.active{
	background: #5fad88;
	color: white;
	font-size: 17px;
    line-height: 37px;
}
.sub-menu-social a.ssmla.active{
	line-height: 32px;
	font-weight: 800;
    border-top: 2px solid white !important;
    border-bottom: 0px !important;
    border-right: 2px solid white !important;
}
.sub-menu-social{
	background: transparent;
	margin-top: -45px;
	border-width: 0px;
}
.contentHeaderInformation{
	padding: 40px 0px 55px 0px;
}
.central-section{
	border-top: 1px solid #ccc;
    margin-top: 0px;
}
#central-container, .simulate-central-container{
	padding-top: 40px;
    background-color: white;
    padding-bottom: 40px;
}
#central-container[data-active-view="adminCter"]{
    padding: 0px;
}
#central-container #btn-show-links-onmap{
    display:none;
}
.simulate-central-container{
    min-height: 800px;
}
#menu-top-profil-social.affix{
    background-color: white;
}
.central-section #filterContainer{
	width: 100%;
	margin-left: 0px;
}
.carousel-media{
	margin-bottom: 0px !important;
}
.carousel-media .carousel-indicators{
	bottom: 0px;
    margin-bottom: 0px;
}
.carousel-media > ol > li{
    width: 15px !important;
    height: 15px !important;
    border-radius: 15px !important;
    background-color: transparent;
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 1px 1px #22252a;
}
.carousel-media > ol > li.active{
	background-color: #5fad88;
}
.social-main-container .projects.ficheAction #btnHeaderEditInfos{
	display: none;
}
.social-main-container .projects.ficheAction .pastille-type-element{
	background-color: #8C5AA1 !important;
}
.social-main-container .projects.cteR .contentHeaderInformation #nameHeader .fa-lightbulb-o:before {
    content: "\f041";
}
.adminToolBar.entityProfil{
	height: 175px;
}
.boxBtnLink{
	background-color: transparent;
}
.boxBtnLink a.menu-linksBtn, .boxBtnLink .nav.navbar-nav, .boxBtnLink .dropdown {
    background-color: rgba(170, 170, 170, 0.87);
    line-height: 15px;
    width: initial;
    margin-right: 3px;
    border-radius: 7px;
}
.boxBtnLink .dropdown .dropdown-menu{
	border-radius: 5px;
}
.boxBtnLink .dropdown .dropdown-menu li{
	font-size: 14px;
}
.boxBtnLink .btn-favorite-link{
	display: none;
}
.menu-xs-only-top{
	position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 10000;
    border-radius: 0px 0px 5px 5px;
    margin: 1px;
    list-style: none;
    border: 1px solid #ddd;
    display: none;
}
.menu-xs-only-top li{}
.menu-xs-only-top li a{
    width: 100%;
    text-align: left;
    padding-left: 20px;
    border-bottom: 1px solid #f4f4f4 !important;
    border-radius: 0px !important;
    border-right: 0px !important;
}
.contentHeaderInformation .containInvitation{
    position: absolute;
    border-bottom: none !important; 
    margin-bottom: none !important; 
    top: -40px;
    width: 30%;
    background-color: rgba(244, 244, 244, 0.81);
    border-radius: 10px;
    right: 5px;
    text-align: -webkit-center;
}
.boxBtnLink .inviteContent{
    float: left;
}
.boxBtnLink .inviteContent a{
    color : white !important;
}
.boxBtnLink > ul.nav.navbar-nav  > li, .boxBtnLink > ul.nav.navbar-nav  > li > a.menu-linksBtn{
    background-color: transparent !important;
} 
.description-markdown-territory, .contentChildFilRouge .description-badge{
    white-space: pre-line;
}
.edit-territory{
    border: none;
    margin: auto;
    background: none;
    font-weight: 800;
    color: #38a1e0;
    font-size: 15px;
}
.activeAAP .notification-label{
    line-height: 20px;
    margin-top: 5px;
}
.activeAAP .notification-label:hover{
    background-color: rgba(244,244,244,0.3);
    border-radius: 2px;
}
.activeAAP .bootstrap-switch{
    height: 35px !important;
    line-height: 10px !important;
    min-width: 150px !important;
    margin-top: 5px;
    margin-bottom: 5px;
}
.activeAAP .bootstrap-switch .bootstrap-switch-handle-on{
    background-color: #5cb85c !important;
    color: white !important;
}
.activeAAP .bootstrap-switch .bootstrap-switch-handle-off, .activeAAP .bootstrap-switch .bootstrap-switch-handle-on{
    height: 33px;
    width: 40%;   
}
.activeAAP .bootstrap-switch .bootstrap-switch-handle-off{
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    background-color: #e6e6e6 !important;
    color: #656565 !important;
}
.activeAAP .bootstrap-switch .bootstrap-switch-handle-off:hover{
    background-color: #d4d4d4 !important;
}
.activeAAP .bootstrap-switch .bootstrap-switch-handle-on:hover{
    background-color: #449d44 !important;
}
.activeAAP .bootstrap-switch .bootstrap-switch-label{
    background-color: white !important;
    height: 35px;
    vertical-align: inherit;
    width: 20%;
}
.activeAAP .bootstrap-switch .bootstrap-switch-handle-on,
.activeAAP .bootstrap-switch .bootstrap-switch-handle-off,
.activeAAP .bootstrap-switch .bootstrap-switch-label{
    line-height: 25px;
}
.activeAAP .bootstrap-switch .bootstrap-switch-container{
    width: 167%;
}
.activeAAP .bootstrap-switch.bootstrap-switch-off .bootstrap-switch-container {
    margin-left: -67%;
}
.btn-cter-create{
    background-color: white;
    border: 2px solid #5fad88;
    color: #5fad88;
    font-size: 15px;
    padding: 10px;
    font-weight: 800;
}
.labelTitleDir .btn-open-form[data-form-type="projects"], .labelTitleDir .btn-open-form[data-form-type="project"]{
    display: none;
}
.description-markdown-filRouge{
    font-size: 18px;
    font-weight: 800;
}
@media (min-width: 991px){
    .section-date {
        top: -45px;
    }
}
@media (max-width: 768px) {
	.contentHeaderInformation .containInvitation{
		width: 98%;
	}
    #filters-nav {
        display: none !important;
    }
}
/*.carousel-inner>.item{
	height : 300px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img{
	max-height: 300px
}*/