.dropdown {
    display: inline;
    margin-left: 1vw;
}

#filterContainer .dropdown .btn-menu, #filters-nav .dropdown .btn-menu {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #38bbbc;
    color:#38bbbc;
    top: 0px;
    position: relative;
    border-radius: 20px;
    text-decoration: none;
    background:white;
    line-height: 20px;
}

#costum-scope-search .dropdown-result-global-search {
    position: absolute;
    top: 60px;
    z-index: 1;
    background-color: white;
    border: 1px solid #38bbbc;
    max-height: none !important;
    border-radius: 3px;
}

#filters-nav #input-sec-search .input-group {
    display: inline-flex;
}

#filters-nav #input-sec-search .input-group-addon {
    padding: 10px 0px 10px 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #38bbbc;
    margin-top: 5px;
    text-align: center;
    background-color:white !important;
    border: 1px solid #38bbbc;
    border-radius: 20px 0px 0px 20px !important;
    border-right-width: 0px;
    width: 30px;
}

#filters-nav #input-sec-search .input-global-search {
    border-left-width: 0px;
    color: #38bbbc;
    height: 40px;
    margin-top: 5px;
    border-radius: 0px 20px 20px 0px;
    box-shadow: none;
    width: inherit;
    border-color: #38bbbc;
}

#input-sec-search {
    padding: 0px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

#filters-nav #input-sec-search {
    display: grid;
    margin-bottom: 5px;
    margin-right: 10px;
    float: left;
    margin-top: -0.6%;
    margin-left: 1%;
}

#filterContainer .dropdown .dropdown-menu, #filters-nav .dropdown .dropdown-menu{
    position: absolute;
    overflow-y: visible !important;
    top: 50px;
    left: 5px;
    width: 250px;
    border-radius: 2px;
    border: 1px solid #38bbbc;
    padding:0px; 
}

.labelFilterTit{
    color: #38bbbc;
}


#activeFilters .filters-activate {
    border: 2px solid transparent;
    background-color:#38bbbc;
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 25px;
    color: white !important;
    text-decoration: none;
    display: inline-block;
}

#filterContainer .dropdown .dropdown-menu:before , #filters-nav .dropdown .dropdown-menu:before,
#filterContainer .dropdown .dropdown-menu:after, #filters-nav .dropdown .dropdown-menu:after,
#costum-scope-search .dropdown-result-global-search:before,
#costum-scope-search .dropdown-result-global-search:after{
    bottom: 100%;
    left: 20px;
    margin-top: -20px;
    border: solid transparent;
    content: " ";
    height: 0px;
    width: 0;
    border-width: 11px;
    position: absolute;
}
#filterContainer .dropdown .dropdown-menu:before, #filters-nav .dropdown .dropdown-menu:before,
#costum-scope-search .dropdown-result-global-search:before{
    border-bottom-color: #38bbbc;
    border-width: 12px;
    left: 19px;
}
#filterContainer .dropdown .dropdown-menu:after, #filters-nav .dropdown .dropdown-menu:after,
#costum-scope-search .dropdown-result-global-search:after{
    border-bottom-color: white;
}
#filterContainer .dropdown .dropdown-menu .list-filters, #filters-nav .dropdown .dropdown-menu .list-filters{
    max-height: 300px;
    overflow-y: scroll;
}
#filterContainer .dropdown .dropdown-menu button, #filters-nav .dropdown .dropdown-menu button{
    border: none;
    background: white;
    /* width: 100%; */
    text-align: left;
    font-size: 14px;
    padding-left: 15px;
    padding: 10px 10px;
    padding-left: 15px;
}
#filterContainer .dropdown .dropdown-menu button:hover, #filters-nav .dropdown .dropdown-menu button:hover{
    background-color: #e8e8e8;
}
#filterContainer .dropdown .dropdown-menu button.mainTitle, #filters-nav .dropdown .dropdown-menu button.mainTitle{
    font-weight: 800;
    padding-left: 10px;
}