.header{
	position: absolute;
	margin-left: 19vw;
	margin-top: 3vw;
}
.nameMenuTop{
	color: white;
}

#menuApp{
	display: none;
}


.contain{
	margin-left: 12%;
	margin-right: -13%;
}

 #donation-btn{
    display: none;
 }

 #filters-nav{
 	position: absolute;
 }

#second-search-bar {
    border-radius: 35px 35px 35px 35px !important;
    height: 50px !important;
    width: 81vw !important;
    margin-left: -10Vw;
}

#dropdown{
	display: none;
	background-color: whitesmoke;
	width: 77%;
	z-index: 1000;
	margin-top: -2.4%;
	margin-left: 12vw;
}

#containerCard{
	box-shadow: 0px 0px 11px;
	width: 19vw;
	margin-left: 4vw;
}

#searchBar{
	margin-top: -5vw;
	position: relative;
}

#second-search-bar-addon-mednum{
	border-color: transparent;
	background-color: transparent;
	position: absolute;
	margin-left: -10vw;
}

.searchIcone{
	font-size: 38px;
}


.ultra{
	position: absolute;
	width: 45%;
	margin-left: 29vw;
	margin-top: 3vw;
}

.actu{
	background-color: #300080;
}

#actualite{
	margin-top: 5vw;
}

.explicationAgenda{
    margin-left: 10%;  
    margin-right: 10%;
}

.explication-title{
    text-align : center;
    color : white
}

.explication{
    margin-top:3%;
    margin-left: 10%;  
    margin-right: 10%;
}

.backLeft{
	width: 3vw;
	margin-top: 11vw;
	position: absolute;
	margin-left: 11vw;
}

.backRight{
	transform: rotate(180deg);
	width: 3vw;
	margin-top: 11.1vw;
	position: absolute;
	margin-left: 2vw;
}

.txtHeader{
	position: absolute;
	color:white;
	margin-top: 37vw;
	font-size: 49px;
}

.titleBandeau{
	font-family: 'Covered By Your Grace', cursive !important;
}

.icoBandeau{
	width: 3vw;
}

.logoApp{
	width: 15vw;
	margin-top: 2vw;
}

@media (max-width:768px){
	#second-search-bar{
		margin-left: 5vw;
	}

	.svg{
		width: 80vw;
	}

	.ultra{
		width: 50vw;
	}

	.txtHeader{
		font-size: 18px;
	}

	.titleBandeau{
		font-size:20px;
	}

	.icoBandeau{
		width: 6vw;
	}

	.contain{
		margin-left: 0% !important;
		margin-right: 0% !important;
	}

	#containerCard{
		width: 91vw;
		height: 250px;
		margin-left: 0vw;
		margin-top: 5vw;
	}

	.logoApp{
		width: 22vw;
		margin-top: 6vw;
	}

	.plus{
		margin-top: 9.2vw !important;
	}
}