#overMind{
	cursor:inherit !important;
    background-color: #f6f6f6;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100% 100%;
    padding-bottom: 40px;
    overflow-y: auto;
	padding-top: 3% !important;
}
#overMind img{
    margin-bottom: 20px;
    border-radius: 26%;
    height: 170px;
}
#overMind .textExplain{
	font-size: 30px;
    font-variant: small-caps;
    font-weight: 800;
    color: white;
}
#overMind .subTextExplain{
    font-size: 25px;
    font-variant: small-caps;
    color: white;
}

.blockUI.blockMsg.blockPage .selectedCity{
	font-size: 30px;
    font-variant: small-caps;
        right: 35px;
    position: absolute;
    font-weight: 800;
    position: absolute;
    font-weight: 800;
}
#overMind .init-selector-city{
    padding: 20px 10px;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 22px;
    width: 30%;
    margin-left: 1%;
    /*background-color: #aa4420 !important;*/
    /*background-image: url(/ph/assets/449afa38/images/city/cityDefaultHead_BW.jpg);*/
}

#overMind .init-selector-city:hover{
    border-radius: 10px;
    font-size: 22px;
    border: 4px solid #aa4420 !important;
    color: #aa4420 !important;
    background-color: white !important;
}

#overMind .init-selector-city  img {
    /* margin-bottom: 20px; */
    border-radius: 0px;
    padding: 10px;
    height: 190px;
    width: 100%;
}
.scopes-container-costum .scope-order{
    border: 2px solid transparent;
    background-color: rgba(163, 74, 8, 0.7);
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white !important;
    text-decoration: none;
    display: inline-block;
}
.btn-menu-home.menu-btn-top{
    line-height: 55px;
}
.btn-menu-home.menu-btn-top span{
    display: none;
}
.scopes-container-costum .scope-order.active{
    background-color:#a34a08;
}
.scopes-container-costum .scope-order:hover{
    border: 2px solid rgba(163, 74, 8, 0.5);
    text-decoration: none !important;
}
.scopes-container-costum .scope-order i{
    margin-right: 3px;
}
.item-scope-checker:hover{
    border: none !important;
}
.scopes-container-costum .scope-order span{
    text-decoration: none !important;
}
.scopes-container-costum .scope-order .active{
    background-color: #a34a08;
    color: white;
}
.scopes-container .clearBtnScopes{
    display:none;
}
.scopes-container .scope-order{
    padding: 0px 10px;
    font-size: 15px;
    color: #4797cc !important;

}
.scopes-container .manageMultiscopes{
    display: none;
}
#news-scopes-container .manageMultiscopes{
 display:block;   
 float: left;
}
.textIcoEX a{
    color: white !important;
    text-decoration: none !important;
}
.blockUI .lds-css{
    width: 335px;
}
.blockUI.blockMsg.blockPage img{
    width: 100%;
    height: initial;
}
@media (min-width: 769px){
    #mainNav .menu-btn-top {
        height: 53px;
    }
    #mainNav .navLeft > div{
        margin-top: 10px;
    }

    #mainNav .navLeft > button{
        margin-top: 10px;
    }
    #mainNav .navbar-right .btn-menu-connect, #mainNav .navbar-right > ul{
        margin-top: 10px;
    }
    #mainNav .menu-name-profil{margin-top: 5px;}
    #mainNav .btn-menu-connect {
        height: 40px;
        border-radius: 20px;
    }
}
@media (max-width: 768px){
#overMind .init-selector-city{
    margin-left: 16.66666667%;
    width: 66.66666667%;
    margin-bottom: 2px;
}
@media (min-width: 769px) and (max-width: 991px){
    .textIcoEX{
        min-height: 150px;
    }
}
#overMind .init-selector-city img{
    
}
}